*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #d25fff, #957bfe);
}

.tag{
    background-color: #f1f1f1;
    border-radius: 20px;
    margin-right: 4px;
    padding: 0 11px;
}